 @font-face {
 	font-family: Helvetica Compressed;
 	src: url(.../fonts/Helvetica Compressed.ttf);
 }

 @font-face {
 	font-family: HelveticaNeue;
 	src: url(.../fonts/HelveticaNeue.ttf);
 }

 @font-face {
 	font-family: HelveticaNeue Light;
 	src: url(.../fonts/HelveticaNeue Light.ttf);
 }


 @font-face {
 	font-family: Helvetica Black Cyrillic Bold;
 	src: url(.../fonts/Helvetica Black Cyrillic Bold.ttf);
 }

 @font-face {
 	font-family: HelveticaNeueBd;
 	src: url(.../fonts/HelveticaNeueBd.ttf);
 }

 /*font-family: 'Open Sans', sans-serif;*/

 body {
 	font-family: 'Open Sans', sans-serif;

 }

 /*header style start*/

 header {
 	background-color: #f0f2f4;
 	font-family: Helvetica Compressed;
 	border-bottom: 1px solid #e2e2e2;
 }

 .icon2 {
 	padding: 7px 13px 14px 50px;
 	float: right;
 	border-left: 1px solid #e2e2e2;
 }

 .icon1 {
 	padding: 16px 0px;
 	text-align: center;
 	margin-right: -60px;
 }

 .icon1 .list-inline {
 	margin: 0;
 }

 .icon2 .list-inline {
 	margin: 0;
 }

 .fab {
 	font-family: "Font Awesome 5 Brands";
 	background-color: #e7e7f3;
 	color: #145ce0;
 	font-size: 30px;
 }

 /*header style end*/

 /*manuvar style start*/

 .cus_cir {
 	font-size: 7px;
 	padding: 18px 10px;
 }

 #active {
 	color: red;
 }

 .manubar {
 	padding: 30px 0px;
 	font-family: Helvetica Black Cyrillic Bold;
 	font-weight: bold;
 }

 .btn-custom {
 	margin-right: -5px;
 	margin-left: 20px;
 }

 /*manuvar style end*/

 /*banner style start*/

 .banner {
 	background-image: url(../images/banner.png);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center;
 	padding-top: 190px;
 	padding-bottom: 250px;
 }

 .banner-contant p {
 	font-size: 30px;
 	font-weight: 300;
 }

 .banner-contant a {
 	font-size: 23px;
 	padding: 15px 41px;
 	font-weight: 700;
 }

 /*banner style end*/

 /*about style start*/

 .about-us {
 	padding: 100px 0;

 }

 .same-text-top h1 {
 	font-size: 36px;
 	font-weight: bold;
 }

 .same-text-top p {
 	font-size: 20px;
 	font-weight: 300;
 }

 .same-text-top hr {
 	border: none;
 	border: 5px solid #424242;
 	width: 50px;
 }

 .about-us-buttom h2 {
 	font-size: 22px;
 	font-weight: 700;
 }

 .about-us-buttom p {
 	font-size: 13px;
 }

 /*about style end*/

 /*approch style start*/

 .our-approch {
 	background: #F3F3F3;
 	padding-top: 90px;
 	padding-bottom: 130px;
 }

 .approch-botton-bgc {
 	background: #ffffff;
 	margin-top: 45px;
 	box-shadow: 0px 0px 10px 2px #E5E5E5;
 }

 .approch-botton-image {
 	position: relative;
 }

 .f-left {
 	float: left;
 }

 .f-right {
 	float: right;
 }

 .step {
 	position: absolute;
 	right: 1%;
 	top: 50%;
 	transform: translate(50%, -50%);
 	background: #E83127;
 	width: 105px;
 	height: 105px;
 	border: 2px solid #ffffff;
 	z-index: 1;
 }

 .step-2 {
 	position: absolute;
 	left: 0%;
 	top: 50%;
 	transform: translate(-50%, -50%);
 	background: #E83127;
 	width: 105px;
 	height: 105px;
 	border: 2px solid #ffffff;
 	z-index: 1;
 }

 .step h1,
 .step-2 h1 {
 	font-size: 60px;
 	font-weight: 700;
 	line-height: 50px;
 	padding-top: 10px;
 }

 .step p,
 .step-2 p {
 	font-size: 20px;
 	line-height: 26px;
 }

 .approch-bottom-right-text {
 	padding: 67px 51px;
 }

 .r-text {
 	text-align: right;
 }

 .approch-bottom-right-text h2 {
 	font-size: 17px;
 }

 .approch-bottom-right-text p {
 	font-size: 13px;
 }

 /*approch style end*/

 /*gallary style start*/

 .our-work {
 	background: #E83127;
 	padding: 120px 0;
 }

 .custom-hr hr {
 	border: none;
 	border: 5px solid #F3F3F3;
 	width: 50px;
 }

 .wrapper {
 	position: relative;
 }

 .our-work-bottom-image img {
 	/*height: 283px;*/
 }

 .work-hover-contant {
 	position: absolute;
 	top: 0px;
 	right: 0px;
 	left: 0px;
 	bottom: 0px;
 	/*	background:rgba(260,97,90,0.5);*/
 	background: rgba(154, 53, 95, 0.5);
 	transform: scaleY(0);
 	transition: transform .5s;
 	padding: 95px 0;
 }

 .wrapper:hover .work-hover-contant {
 	transform: scaleY(1);
 }

 /*gallary style end*/

 /*analisis style start*/

 .custom-mod {
 	padding: 0px 0;
 	position: relative;
 	display: none;

 }

 .anlisis {
 	background: #0085BC;
 	padding: 110px 0;
 }

 .fb-analysis-contant h1 {
 	font-size: 36px;
 }

 .fb-analysis-contant p {
 	font-size: 20px;
 }

 .button-custom {
 	border: none;
 	padding: 8px 15px;
 	border-radius: 50%;
 	background: transparent;
 	border: 3px solid #ffffff;
 }

 .button-custom i {
 	font-size: 25px;
 }

 .analysis-form-contant p {
 	font-size: 15px;
 	color: #828282;
 	margin-bottom: 40px !important;
 	padding: 0 0px;
 }

 .btn-cus {
 	padding: 12px 30px;
 	margin-top: 35px;
 	margin-bottom: 10px !important;
 }

 .analysis-form-contant::after {
 	content: "";
 	position: absolute;
 	top: -11%;
 	left: 50%;
 	margin-left: -28px;
 	border-width: 30px;
 	border-style: solid;
 	border-color: transparent transparent white transparent;
 }

 .close-button {
 	position: absolute;
 	top: 32px;
 	right: 0;
 	display: none;
 	cursor: pointer;
 }

 .close-button i {
 	font-size: 22px;
 	color: #ffffff;
 	background: #E83127;
 	border: 2px solid #ffffff;
 	border-radius: 50%;
 	padding: 13px 15px;
 	text-align: center;
 	z-index: 11111;
 }

 .button-cost {
 	border: 3px solid white;
 	padding: 6px 15px;
 	border-radius: 50%;
 	display: block;
 	background-color: red !important;
 	color: white;
 	background: transparent;
 }

 /*analisis style end*/

 /*contact secton start*/

 .get-in-touch {
 	background: #2A2A2A;
 	padding: 90px 0;
 }

 .touch-social h2 {
 	font-size: 29px;
 }

 .touch-social i {
 	font-size: 23px;
 	color: white !important;
 	background: transparent;
 }

 .touch-social p {
 	font-size: 14px;
 	color: #cecece;
 	margin-bottom: 34px !important;
 }

 .touch-form input {
 	color: #ffffff;
 	background: #515151;
 }

 .touch-button button {
 	border: none;
 	background: transparent;
 	border: 2px solid #515151;
 	padding: 10px 34px;
 	margin-top: 12px;
 	font-size: 17px;
 	font-weight: bold;
 }

 .touch-button button:hover {
 	background: #515151;
 }

 /*contact secton end*/

 /*footer style start*/

 .footer-bottom {
 	background: #515151;
 	padding: 25px 0;
 }

 .footer-bottom-contant p {
 	font-family: 'Open Sans', sans-serif;
 	font-size: 14px;
 	color: #cecece;
 }

 /*footer style end*/
